/* CSS AREA - Cores e estilos pra cada área - Alexei Martchenko */

/* Cores de links */
a, a:link, a:active, a:visited {color:#333;}
.inter a, .inter a:link, .inter a:active, .inter a:visited {color:#306;}
a:hover,.inter a:hover{color:#609;text-decoration:underline;}

.inv, .inv * {color:#eee;}
.inv a, .inv a * {color:white;}
.inv a:hover, .inv a:hover * {color:#ccf;}

#mainmenu a {text-decoration:none;}
#mainmenu a.here {background:#336 url('http://imagens.superdownloads.com.br/imagens/constants/abas.png') repeat-x 0 -60px; color:white; border:1px solid #336;}
#subheader {background-color:#336;}
#footer {border-top:1px solid #333; background:#336 url('http://imagens.superdownloads.com.br/imagens/constants/footer.png') top left repeat-x;}

/* Quando você quiser usar a cor default da área ou não sabe em que área está, use as classes de cor default ca0 e bga0 que elas seguem a cor da área */
.ca0,.texto a {color:#336!important;} .bga0 {background-color:#336;}

/* Categorias Main */
.catBordaSuperior{height:30px !important;border-top: 3px solid #336;}
.catBordaInferiorBox{border-bottom: 2px groove #336;}
a.setabg{background:url('/Images/constants/setabg3.png') center top no-repeat;font-weight:bold;}
a.setabgranking{background:url('/Images/constants/setabg3.png') no-repeat;background-position:15px 0px;padding-top:7px;font-weight:bold;}